@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

body {
    margin: 0;
    font-family: Lato, sans-serif;
}

.header {
    background: #222222;
    height: 75px;
    padding: 18px 16px;
    box-sizing: border-box;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 1600px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }

    .header {
        padding-left: 230px;
        padding-right: 230px;
    }
}

@media(min-width:768px) {
    .header {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.search_icon {
    margin-left: 41px;
}

.user_icon,
.cart_icon {
    display: none;
}

.cart_icon_numb {
    position: relative;
}

.indacart {
    display: none;
}

@media (min-width: 768px) {

    .indacart {
        display: inline-block;
        width: 19px;
        height: 19px;
        color: white;
        background-color: #F16D7F;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        right: -8px;
        top: -19px;
        font-size: 12px;
        line-height: 19px;
    }

    .user_icon,
    .cart_icon {
        display: inline;
    }

    .user_icon {
        margin-left: 25px;
        margin-right: 42px;
    }
}


.brand_wrap {
    min-height: 363px;
    position: relative;
}

.brand {
    min-height: inherit;
}

.brand_left img {
    display: block;
    width: 100%;
}

.brand_left {
    display: none;
}

.brand_right {
    background: #F1E4E6;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222222;

}

.brand_text {
    border-left: 12px solid #F16D7F;
    padding-left: 15px;
    height: 61px;
}

.brand_text div:first-child {
    font-weight: 900;
    font-size: 38px;
    line-height: 27px;
}

.brand_text div:last-child {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-top: 14px;
}

.brand_text span {
    color: #F16D7F;
}

@media(min-width:768px) {
    .brand_left {
        display: block;
        width: 50%;
    }

    .brand_right {
        justify-content: flex-start;
    }

    .brand {
        display: flex;
    }

    .brand>div {
        width: 50%;
    }

    .brand_text {
        height: 78px;
        margin-left: 60px;
    }

    .brand_text div:first-child {
        font-weight: 900;
        font-size: 44px;
        line-height: 33px;
    }

}

@media (min-width: 1600px) {
    .brand_right {
        justify-content: flex-start;
    }

    .brand_text {
        margin-left: 64px;
    }

    .brand_text div:first-child {
        font-size: 48px;
    }

    .brand_text div:last-child {
        font-size: 32px;
        margin-top: 21px;
    }
}

.offer {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 247px) 111px;
    row-gap: 32px;
    padding: 64px 16px;

}

.offer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.offer_images {
    height: 247px;
}

/*
.offer_img_wide {
    height: 111px;
}*/


.offer>div {
    position: relative;
}

.offer_title {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;

}

.offer_ttl_t {
    color: white;
}

.offer_ttl_b {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

@media (min-width: 768px) {
    .offer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 167px 116px;
        gap: 20px;
    }

    .offer_acc {
        grid-column: 1/-1;
    }
}


.blackout {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

.menu {
    width: 232px;
    height: inherit;
    background: white;
    margin-left: auto;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 37px 24px;
    box-sizing: border-box;
    position: relative;
    max-height: inherit;
    overflow: auto;
}

.menu_close {
    position: absolute;
    right: 16px;
    top: 16px;
}

.menu_title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 16px;
}

.menu_header {
    font-size: 14px;
    line-height: 33px;
    color: #f16d7f;
}

.menu_unit a {
    display: block;
    font-size: 14px;
    line-height: 33px;
    color: #6f6e6e;
    text-decoration: none;
    margin-left: 21px;
}

.featured h2 {
    margin-top: 0px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;

}

.featured_text {
    color: #9f9f9f;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top: 12px;
    margin-bottom: 18px;

}

.featured_items {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

.featured {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 96px;
}

@media (min-width: 768px) {
    .featured {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 1600px) {
    .featured {
        padding-left: 0;
        padding-right: 0;
    }
}


.featured_title {
    text-align: center;
    color: #9f9f9f;
    margin-bottom: 64px;
}


@media (min-width: 640px) {
    .featured_items {
        grid-template-columns: 1fr 1fr;
        row-gap: 18px;
        column-gap: 16px;
    }
}

@media (min-width: 1000px) {
    .featured_items {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.featured_item {
    background: #f8f8f8;
}

.featured_item img {
    width: 100%;
    display: block;
}

.featured_img_wrap {
    position: relative;
}

.featured_item:hover .featured_img_dark {
    display: flex;
}

.featured_img_dark {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(58, 56, 56, 0.86);
    display: none;
    justify-content: center;
    align-items: center;
}

.featured_img_dark button {
    background: none;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    font-size: 14px;
}

.featured_img_dark button img {
    width: 26px;
    height: 24px;
    margin-right: 11px;
}

.featured_data {
    padding: 23px 16px 20px;
}

.featured_name {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}


.featured_price {
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
}

.featured_button {
    color: #F26376;
    background: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #FF6A6A;
    width: 211px;
    height: 47px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: block;
}

.featuredBrowseBtn:hover {
    color: white;
    background: #FF6A6A;
}

.services {
    background: #222224;
    padding-top: 48px;
    padding-bottom: 81px;
    padding-left: 14px;
    padding-right: 14px;
}

@media (min-width: 1200px) {
    .services {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.services .container {
    display: grid;
    gap: 46px;
}

@media (min-width: 1200px) {
    .services .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 46px;
    }
}

.service_unit {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.services_title {
    color: #fbfbfb;
    font-size: 19.96px;
    line-height: 24px;
    margin-top: 27px;
    margin-bottom: 15px;
}

.services_text {
    color: #fbfbfb;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    max-width: 340px;
}

.subscribe {
    background: url(images/subscribe.jpg) no-repeat;
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 109px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 1200px) {
    .subscribe {
        padding-top: 97px;
        padding-bottom: 126px;
    }

    .subscribe .container {
        margin: 0 auto;
        width: 1140px;
        display: flex;
        justify-content: space-between;
    }
}

.subscribe_left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe_user_text {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #222224;
    max-width: 330px;
}

.subscribe_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}

@media (min-width: 1200px) {
    .subscribe_right {
        margin-top: initial;
    }
}

.subscribe_title {
    font-weight: 700;
    font-size: 24px;
    color: #222224;
}

.subscribe_title,
.subscribe_text {
    max-width: 271px;
    text-align: center;
}

.subscribe_text {
    font-size: 14px;
    color: #222224;
    margin-bottom: 22px;
}

.subscribe_form {
    height: 47px;
}

.subscribe_form input {
    height: inherit;
    background: #e1e1e1;
    border: none;
    padding: 6px 21px;
    box-sizing: border-box;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    float: left;
    width: 185px;
}

.subscribe_form input::-webkit-input-placeholder {
    color: #222224;
    font-family: inherit;
    opacity: 0.67;
}

.subscribe-form input::-moz-placeholder {
    color: #222224;
    font-family: inherit;
    opacity: 0.67;
}

.subscribe_form input:-ms-input-placeholder {
    color: #222224;
    font-family: inherit;
    opacity: 0.67;
}

.subscribe_form input:-moz-placeholder {
    color: #222224;
    font-family: inherit;
    opacity: 0.67;
}

.subscribe_form button {
    height: inherit;
    border: none;
    color: white;
    font-family: inherit;
    font-size: 14px;
    line-height: 17px;
    background: #f16d7f;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    padding: 0 17px;
}


.footer {
    background: #222224;
    padding: 43px 20px 10px;
}

@media(min-width: 768px) {
    .footer {
        padding: 30px 32px;
    }
}

.footer .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media(min-width: 768px) {
    .footer .container {
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer a {
    width: 32px;
    height: 32px;
    color: black;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footer a:hover {
    background: #F16D7F;
    color: white;
}

.footer a:not(:last-child) {
    margin-right: 7px;
}

.footer_left {
    display: flex;

}

.footer_right {
    color: white;
}

@media(max-width: 768px) {
    .footer_right {
        margin-top: 40px;
    }
}

.new_arrivals .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: inherit;
}

.new_arrivals {
    background: #f8f3f4;
    min-height: 148px;
}

.new_arrivals h1 {
    margin: 24px 0 32px;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
}

@media (min-width: 768px) {
    .new_arrivals h1 {
        margin: 0;
    }

    .new_arrivals .container {
        flex-direction: row;
        justify-content: space-between;
    }
}

.new_arrivals nav a,
.new_arrivals nav span {
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.new_arrivals nav span {
    margin: 0 3px;
}


@media (min-width: 768px) and (max-width: 1599px) {
    .new_arrivals .container {
        padding: 0 16px;
    }
}


.new_arrivals nav a:last-of-type {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #f16d7f;
}

.filters {
    margin-top: 24px;
    margin-bottom: 32px;
}

@media (min-width: 1600px) {
    .filters {
        margin-top: 51px;
        margin-bottom: 64px;
    }
}

.filters .container {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
}

@media (min-width: 768px) {
    .filters .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 1600px) {
    .filters .container {
        padding-left: 0;
        padding-right: 0;
        justify-content: flex-start;
    }
}

.filters_right {
    display: flex;
    font-size: 12px;
    line-height: 14px;
    color: #6f6e6e;
}

@media (min-width: 1600px) {
    .filters_right {
        font-size: 14px;
        line-height: 17px;
        margin-left: 320px;
    }
}

.filters_right img {
    position: relative;
    bottom: 1px;
    margin-left: 9px;
}

.filters_right>div:not(:last-child) {
    margin-right: 15px;
}

@media (min-width: 375px) {
    .filters_right>div:not(:last-child) {
        margin-right: 24px;
    }
}

.filters_left .filter_label {
    display: none;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.filter_label_pink {
    color: #ef5b70 !important;
    left: 16px;
    top: 13px;
}

.filter_icon_pink {
    left: 16px;
    top: 13px;
}

@media (min-width: 768px) {
    .filters_left .filter_label {
        display: inline;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
}

.filters_left .filter_icon {
    width: 37px;
    height: 25px;
    position: relative;
    z-index: 2;
}

@media (min-width: 768px) {
    .filters_left .filter_icon {
        width: 15px;
        height: 10px;
        margin-left: 11px;
    }
}

.filters_left {
    position: relative;
}

.filter_popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 360px;
    background: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 46px 16px 16px 16px;
    z-index: 1;
    overflow-y: auto;
}

.filter_category_header {
    font-size: 14px;
    line-height: 37px;
    color: #ef5b70;
    padding-left: 11px;
    min-height: 37px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 24px;
    position: relative;
    cursor: pointer;
}

.filter_category_header:before {
    content: "";
    width: 5px;
    min-height: inherit;
    background: #ef5b70;
    position: absolute;
    left: 0;
    top: 1px;
}

.filter_category:not(:last-child) {
    margin-bottom: 24px;
}

.filter_category a {
    display: block;
    text-decoration: none;
    padding-left: 34px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
}

.filter_category a:not(:last-child) {
    margin-bottom: 11px;
}

.filter_size_wrap {
    cursor: pointer;
}

.filter_size {
    position: relative;
}

.filter_sizes {
    position: absolute;
    left: 0;
    top: 25px;
    width: 79px;
    height: 103px;
    background: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 7px 9px;
    box-sizing: border-box;
    font-size: 14px;
    color: #6f6e6e;
    z-index: 1000;
}

.filter_sizes>div:not(:last-child) {
    margin-bottom: 4px;
}

.new_arrivals_pics {
    margin-top: 40px;
}

.pagination {
    width: 284px;
    height: 44px;
    margin: 0 auto;
    border: 1px solid #ebebeb;
    margin-top: 48px;
    margin-bottom: 64px;
    padding: 13px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}

.pagination a {
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    color: #c4c4c4;
}

.pagination a:hover {
    color: #ef5b70;
}

.slider {
    min-height: 624px;
    border: 1px solid #EAEAEA;
    background: #F7F7F7;
    position: relative;
}

@media (min-width: 1600px) {
    .slider {
        min-height: 777px;
    }
}

.slider .slider_image {
    max-width: 100%;
    object-fit: cover;
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (min-width: 768px) {
    .slider .slider_image {
        margin-top: 30px;
    }
}

@media (min-width: 1600px) {
    .slider .slider_image {
        margin-top: 11px;
    }
}

.slider .slider_left,
.slider .slider_right {
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: calc(50% - 47px / 2);
    cursor: pointer;
}

.slider .slider_left {
    left: 0;
    background-image: url(images/slider/leftArrow.svg);
}

.slider .slider_left:hover {
    background-image: url(images/slider/leftArrowHover.svg);
}

.slider .slider_right {
    right: 0;
    background-image: url(images/slider/rightArrow.svg);
}

.slider .slider_right:hover {
    background-image: url(images/slider/rightArrowHover.svg);
}