@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap');

body {
    margin: 0;
    font-family: Lato, sans-serif;
}

.header {
    background: #222222;
    height: 75px;
    padding: 18px 16px;
    box-sizing: border-box;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 1600px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }

    .header {
        padding-left: 230px;
        padding-right: 230px;
    }
}

@media(min-width:768px) {
    .header {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.search_icon {
    margin-left: 41px;
}

.user_icon,
.cart_icon {
    display: none;
}

.cart_icon_numb {
    position: relative;
}

.indacart {
    display: none;
}

@media (min-width: 768px) {

    .indacart {
        display: inline-block;
        width: 19px;
        height: 19px;
        color: white;
        background-color: #F16D7F;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        right: -8px;
        top: -19px;
        font-size: 12px;
        line-height: 19px;
    }

    .user_icon,
    .cart_icon {
        display: inline;
    }

    .user_icon {
        margin-left: 25px;
        margin-right: 42px;
    }
}


.brand_wrap {
    min-height: 363px;
    position: relative;
}

.brand {
    min-height: inherit;
}

.brand_left img {
    display: block;
    width: 100%;
}

.brand_left {
    display: none;
}

.brand_right {
    background: #F1E4E6;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222222;

}

.brand_text {
    border-left: 12px solid #F16D7F;
    padding-left: 15px;
    height: 61px;
}

.brand_text div:first-child {
    font-weight: 900;
    font-size: 38px;
    line-height: 27px;
}

.brand_text div:last-child {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-top: 14px;
}

.brand_text span {
    color: #F16D7F;
}

@media(min-width:768px) {
    .brand_left {
        display: block;
        width: 50%;
    }

    .brand_right {
        justify-content: flex-start;
    }

    .brand {
        display: flex;
    }

    .brand>div {
        width: 50%;
    }

    .brand_text {
        height: 78px;
        margin-left: 60px;
    }

    .brand_text div:first-child {
        font-weight: 900;
        font-size: 44px;
        line-height: 33px;
    }

}

@media (min-width: 1600px) {
    .brand_right {
        justify-content: flex-start;
    }

    .brand_text {
        margin-left: 64px;
    }

    .brand_text div:first-child {
        font-size: 48px;
    }

    .brand_text div:last-child {
        font-size: 32px;
        margin-top: 21px;
    }
}

.offer {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 247px)111px;
    row-gap: 32px;
    padding: 64px 16px;

}

.offer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.offer_images {
    height: 247px;
}

/*
.offer_img_wide {
    height: 111px;
}*/


.offer>div {
    position: relative;
}

.offer_title {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;

}

.offer_ttl_t {
    color: white;
}

.offer_ttl_b {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

@media (min-width: 768px) {
    .offer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 167px 116px;
        gap: 20px;
    }

    .offer_acc {
        grid-column: 1/-1;
    }
}


.blackout {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

.menu {
    width: 232px;
    height: inherit;
    background: white;
    margin-left: auto;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 37px 24px;
    box-sizing: border-box;
    position: relative;
    max-height: inherit;
    overflow: auto;
}

.menu_close {
    position: absolute;
    right: 16px;
    top: 16px;
}

.menu_title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 16px;
}

.menu_header {
    font-size: 14px;
    line-height: 33px;
    color: #f16d7f;
}

.menu_unit a {
    display: block;
    font-size: 14px;
    line-height: 33px;
    color: #6f6e6e;
    text-decoration: none;
    margin-left: 21px;
}

.featured h2 {
    margin-top: 0px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;

}

.featured_text {
    text-align: center;
    color: #9f9f9f;
    margin-bottom: 64px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.featured_items {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

.featured {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 96px;
}

@media (min-width: 768px) {
    .featured {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 1600px) {
    .featured {
        padding-left: 0;
        padding-right: 0;
    }
}


.featured_title {
    text-align: center;
    color: #9f9f9f;
    margin-bottom: 64px;
}

.featured_items {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

@media (min-width: 640px) {
    .featured_items {
        grid-template-columns: 1fr 1fr;
        row-gap: 18px;
        column-gap: 16px;
    }
}

@media (min-width: 1000px) {
    .featured_items {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.featured_item {
    background: #f8f8f8;
}

.featured_item img {
    width: 100%;
    display: block;
}

.featured_img_wrap {
    position: relative;
}

.featured_item:hover .featured_img_dark {
    display: flex;
}

.featured_img_dark {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(58, 56, 56, 0.86);
    display: none;
    justify-content: center;
    align-items: center;
}

.featured_img_dark button {
    background: none;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    font-size: 14px;
}

.featured_img_dark button img {
    width: 26px;
    height: 24px;
    margin-right: 11px;
}

.featured_data {
    padding: 23px 16px 20px;
}

.featured_name {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}


.featured_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top: 12px;
    margin-bottom: 18px;
}

.featured_price {
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
}

.featured_button {
    color: #F26376;
    background: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #FF6A6A;
    width: 211px;
    height: 47px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: block;
}

.featuredBrowseBtn:hover {
    color: white;
    background: #FF6A6A;
}